**/.git
**/other_files/aclgroups_2019-03-07.csv
**/other_files/aclgroups_2019-03-07.sql
**/other_files/change
**/other_files/db.json
**/other_files/LinuxOne.pem
**/other_files/mariaDB auf IBM-Server gehackt.sql
**/other_files/neue_AFGF-AI-BA nach erster Umbenennung 20200222.ods
**/other_files/Organummernliste.csv.gz
**/other_files/rapp_direktverbindungen-OhneVorhandeModelle.ods
**/other_files/rapp_direktverbindungen.sql
**/other_files/rapp_direktverbindungen_VorhandeneModelleMitAFVorschlägen.ods
**/other_files/rapp_direktverbindungen_VorhandeneModelle.ods
**/other_files/rapp_racf_rechte.sql
**/other_files/RechteDB-20200229.sql
**/other_files/RechteDB-20200317.sql
**/other_files/testdb.json
**/other_files/TF-Zertifizierung
**/other_files/XA
**/other_files/dump_20200426.sql.gz.kannwegnachDemoITSec
**/other_files/RechteDB_fuerLinux1.sql
